@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::placeholder{
    font-size:12px;
    text-align:left;
}

.membershipform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid #000;
    padding: 30px;
}
.membershiparea div{
  width: 500px;
  margin-bottom: 30px;
}
.ID .overlapcheck{
  position: absolute;
  padding: 15px;
  right: 30px;
  top: 72px;
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid #000;
  border-left: none;
  transition: 0.5s ease;
}
.ID button:hover{
  background-color: #000;
  transition: 0.5s ease;
}
.membershiparea input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.member{
    width: 100%;
    height: 49px;
}
.member button{
    width: 100%;
    height: 100%;
    background: yellowgreen;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-family: "Do Hyeon", serif;
}
.error {
  color: red;
  font-size: 0.9rem;
}

.phone .phone1{
  width: 28%;
  height: 50px;
  text-align: center;
}
.phone .phone2{
  width: 37%;
}
.phone .phone3{
  width: 28%;
}
.phone i{
  margin: 0 5px;
}