*{margin: 0; padding: 0; box-sizing: border-box;}

.findpw{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.findpwform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    width: 800px;
    height: 400px;
}

.findpassword{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    gap: 30px;
}
.searchIDform{
    width: 80%;
}

h1{
    padding: 0 10px;
}
.searchID{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.searchphoneform{
    width: 80%;
}
.phoneNB{
    width: 30%;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}
.fintsearchPW{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: royalblue;
    color: #fff;
    font-family: "Do Hyeon", serif;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;

}
.fintsearchPW a{
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}
.fintsearchPW:hover{
    background-color: #000;
    transition: 0.5s ease;
}

.findpassword::placeholder{
    font-size: 28px;
    color: #888;
}